<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  <h1>Add</h1>
  <form action="/calculate_add" method="POST">
    <input type="number" id="value1" name="first_number" placeholder="e.g. 10">
    -
    <input type="number" id="value2" name="second_number" placeholder="e.g. 20">
    <button type="submit">Calculate</button>
  </form>
</body>
</html>
