<head>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
  <link rel ="stylesheet" href="/style.css">
</head>

  <body>
    <div class="row-time">
      <h2><%= @timeago %> hours ago the time was:</h2>
      <h1><%= @time %></h1>
    </div>
  </body>
