<head>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
  <link rel ="stylesheet" href ="/style.css">
</head>
<body>
  <div class="navigation">
    <ul>
      <li><a href="../about">About</a></li>
    </ul>
  </div>
<h1>Hello <%= @username%></h1>
</body>
