<div class="row">
  <div class="col-12">
      <% @contacts.each do |contact| %>
      <a href="/details/<%= contact.id %>">
        <%= contact.name %>
      </a>
      <br>
      <%end%>
      <a href="new">Create</a>
  </div>
</div>
