<div class="row flex-row">
  <div class="col-12 middle">
    <iframe src="//giphy.com/embed/R5WUz6iLjP2rS" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
</div>
