<div class="row">
  <div class="col-12">
      <% @results.each do |result| %>
      <a href="/details/<%= result.id %>">
        <%= result.name %>
      </a>
      <br>
      <%end%>
  </div>
</div>
