<html>
<head>
  <title>Login | See profile page</title>
</head>
<body>
  <h1>You are now logged in.</h1>
  <form action="/logout" method="POST">
      <button type="submit" name="logout" value="logout">Log Out</button>
  </form>
</body>
</html>
