<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
</head>
<body>
  <div class="content">
    <h1>This is my blog!</h1>
    <br>
      <div class="all_posts">
          <%@posts.each_with_index do |post, index| %>
          <a href="/post_details/<%=index%>">
            <div class="my_post">
            <h3><%= post.title %></h3>
            <p>
            <p>
              <em><%= post.date.strftime('%Y-%m-%d') %></em>
            </p>
            </div>
            </a>
          <%end%>
      </div>
<br>


    <form class="create_post" action="create_post" method="post">
      <button type="submit" name="button"><i class="fa fa-plus"></i>&nbsp;Create new post</button>
    </form>
  </div>

</body>
</html>
