<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
</head>
<body>
  <div class="content">
    <h1>Let's create a new blog post!</h1>
    <form class="create_new_post" action="add_new_post" method="post">
      <input type="text" name="name" placeholder="post title"><br>
      <input type="text" name="category" placeholder="category"><br>
      <input type="text" name="author" placeholder="author name"><br>
      <textarea name="content" rows="4" cols="50" placeholder="write here your amazing story"></textarea><br>
      <br>
      <button type="submit" name="submit_new_post">Submit</button>
    </form>
  </div>
</body>
</html>
