<div class="container">
  <div class="row flex-row">
    <div class="col-12 middle">
      <h1>Word Central</h1>
      <p>Your destination for text utilities. What do you need?</p>
      <br>
      <div class="row home-links">
        <div class="col-4"> <%= link_to "Text inspections", text_inspections_new_path %></div>
        <div class="col-4"><%= link_to "Asciify my text", asciis_new_path %></div>
        <div class="col-4"><%= link_to "Placeholder text", placeholder_new_path %></div>
      </div>

    </div>
  </div>
</div>
