<html>
<head>
  <title>Add | Online Calculator</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <h1>Your result has been saved</h1>
  <div class="row result-buttons">
<a href="/">
<button type="button" name="backtohome"> Back to home</button>
</a>
<br>
</div>
</body>
</html>
