<html>
<head>
  <title>Login | See profile page</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<h2>Oops!</h2>
<h3>That doesn't seem right.</h3>
<br>

<br>
<a href="/"><button>Try again</button></a>
<img class="thegif2" src="sad.gif" alt="" />
</form>
</body>
</html>
