<html>
<head>
  <title>Login | See profile page</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body class="success">
  <h1>You are now logged in.</h1>
  <form action="/logout" method="POST">
      <button type="submit" name="logout" value="logout">Log Out</button>
  </form>
  <img class="thegif" src="gif.gif" alt="" />
</body>
</html>
