<h2>Oops!</h2>
<%= flash[:error] = "That doesn't seem right." %>
<br>

<br>
<a href="/"><button>Try again</button></a>
<br><br>
<form action="/login" method="POST">
    <button type="submit" name="signup" value="signup">Sign Up</i></button>
</form>
