<html>
<head>
  <title>Login | See profile page</title>
  <!-- <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
</head>
<body>
  <h1>Login</h1>
  <br>
  <form action="/login" method="POST">
    <label for="name">Username</label>
    <input type="text" id="name" name="name"><br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password"><br><br><br>
      <button type="submit" name="login" value="login">Log In</button>
  </form>
  <form action="/signup" method="POST">
      <button type="submit" name="signup" value="signup">Sign Up</button>
  </form>
</body>
</html>
